.form-container {
    display: flex;
    flex-direction: column;  
    align-items: center;     
    margin-top: 10%; 
  }
  
.input-field {
    width: 100%;             
    max-width: 400px;        
    margin-bottom: 16px;     
  }

.charting {
  margin-top: 15px; 
}

 button {
    margin-top: 20px; 
  }

.big-button {
    font-size: 18px;     
    padding: 12px 24px;
    min-height: 48px;  
  }
