
<app-spinneroverlay *ngIf="loading"></app-spinneroverlay>

<div class="form-container">

    <mat-form-field appearance="fill" class="input-field">
        <mat-label>Enter search terms</mat-label>
        <input matInput [(ngModel)]="searchTerm">
    </mat-form-field>

    <mat-form-field appearance="fill" class="input-field">
        <mat-label>Choose or type the search url</mat-label>
        <input type="text" matInput [matAutocomplete]="auto" [(ngModel)]="url" (input)="filterOptions()">
        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onOptionSelected($event)">
        <mat-option *ngFor="let option of filteredOptions" [value]="option.engineDescription">
            {{ option.engineDescription }}
        </mat-option>
        </mat-autocomplete>
    </mat-form-field>

    <button mat-flat-button color="primary" class="big-button" (click)="submitForm()">Submit</button>
    <mat-checkbox [(ngModel)]="usePlaywright">Try with Playwright minimal browser <small>*note - may need to solve captcha</small></mat-checkbox>

</div>

<div class="charting">
    <app-scatter-chart [chartData]="this.searchResults"></app-scatter-chart>
</div>
