<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>

    <sectionGroup name="sequence.engine" type="PNMsoft.Sequence.Configuration.WorkflowEngineConfigurationSectionGroup, PNMsoft.Sequence, Version=8.0.0.0, Culture=neutral, PublicKeyToken=0a1a1b90c1c5dca1">
      <section name="authentication" type="PNMsoft.Sequence.Security.Configuration.AuthenticationConfigurationSection, PNMsoft.Sequence.Security, Version=8.0.0.0, Culture=neutral, PublicKeyToken=0a1a1b90c1c5dca1" />
      <section name="dynamicProxyRuntime" type="PNMsoft.Sequence.Dynamic.Configuration.DynamicProxyRuntimeConfigurationSection, PNMsoft.Sequence.Dynamic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=0a1a1b90c1c5dca1" />
      <section name="forms" type="PNMsoft.Sequence.Configuration.FormsConfigurationSection, PNMsoft.Sequence, Version=8.0.0.0, Culture=neutral, PublicKeyToken=0a1a1b90c1c5dca1" />
      <section name="mimeTypes" type="PNMsoft.Sequence.Configuration.MimeTypesConfigurationSection, PNMsoft.Sequence, Version=8.0.0.0, Culture=neutral, PublicKeyToken=0a1a1b90c1c5dca1" />
      <section allowDefinition="MachineToApplication" name="notifications" type="PNMsoft.Sequence.Configuration.NotificationServiceConfigurationSection, PNMsoft.Sequence, Version=8.0.0.0, Culture=neutral, PublicKeyToken=0a1a1b90c1c5dca1" />
      <section name="obs" type="PNMsoft.Sequence.Configuration.ObsConfigurationSection, PNMsoft.Sequence, Version=8.0.0.0, Culture=neutral, PublicKeyToken=0a1a1b90c1c5dca1" />
      <section allowDefinition="MachineToApplication" name="persistence" type="PNMsoft.Sequence.Configuration.WorkflowEnginePersistenceConfigurationSection, PNMsoft.Sequence, Version=8.0.0.0, Culture=neutral, PublicKeyToken=0a1a1b90c1c5dca1" />
      <section name="resources" type="PNMsoft.Sequence.Configuration.ResourcesConfigurationSection, PNMsoft.Sequence, Version=8.0.0.0, Culture=neutral, PublicKeyToken=0a1a1b90c1c5dca1" />
      <section allowDefinition="MachineToApplication" name="services" type="PNMsoft.Sequence.Configuration.WorkflowEngineServiceConfigurationSection, PNMsoft.Sequence, Version=8.0.0.0, Culture=neutral, PublicKeyToken=0a1a1b90c1c5dca1" />
      <section allowDefinition="MachineToApplication" name="workflowExecution" type="PNMsoft.Sequence.Configuration.WorkflowExecutionServiceConfigurationSection, PNMsoft.Sequence, Version=8.0.0.0, Culture=neutral, PublicKeyToken=0a1a1b90c1c5dca1" />

    </sectionGroup>
  </configSections>
  <sequence.engine>
    <authentication impersonate="false">
      <providers>
        <add type="PNMsoft.Sequence.Security.WindowsAuthenticationProvider, PNMsoft.Sequence.Runtime, Version=8.0.0.0, Culture=neutral, PublicKeyToken=0a1a1b90c1c5dca1" />
        <add type="PNMsoft.Sequence.Security.UsernameAuthenticationProvider, PNMsoft.Sequence.Runtime, Version=8.0.0.0, Culture=neutral, PublicKeyToken=0a1a1b90c1c5dca1" />
      </providers>
    </authentication>

    <notifications>
    </notifications>

    <services>
      <add type="PNMsoft.Sequence.Runtime.AuthorizationService, PNMsoft.Sequence.Runtime, Version=8.0.0.0, Culture=neutral, PublicKeyToken=0a1a1b90c1c5dca1"></add>
      <add type="PNMsoft.Sequence.Runtime.WorkflowPersistenceService, PNMsoft.Sequence.Runtime, Version=8.0.0.0, Culture=neutral, PublicKeyToken=0a1a1b90c1c5dca1"></add>
      <add type="PNMsoft.Sequence.Runtime.WorkflowDefinitionService, PNMsoft.Sequence.Runtime, Version=8.0.0.0, Culture=neutral, PublicKeyToken=0a1a1b90c1c5dca1"></add>
      <add type="PNMsoft.Sequence.Runtime.WorkflowExecutionService, PNMsoft.Sequence.Runtime, Version=8.0.0.0, Culture=neutral, PublicKeyToken=0a1a1b90c1c5dca1"></add>
      <add type="PNMsoft.Sequence.Runtime.AuthenticationService, PNMsoft.Sequence.Runtime, Version=8.0.0.0, Culture=neutral, PublicKeyToken=0a1a1b90c1c5dca1"></add>
      <add type="PNMsoft.Sequence.Runtime.WorkflowDataPropagationService, PNMsoft.Sequence.Runtime, Version=8.0.0.0, Culture=neutral, PublicKeyToken=0a1a1b90c1c5dca1"></add>
    </services>
    <persistence>
      <database provider="System.Data.SqlClient" credentials="dOtg/dWG6Q1TJDAvqHLX6atoT+xv6mGc5Hhyn7rZNVg4KFrCOpMgmCdBVNNviOZeezPyWfnwEgnpsqaEPTFhd/82D9pTZ3Lt9WvB6ewrGWraAgiQYAGqDb9GjpTBkyRcI0atZKYnB8/3WOICMtGGrQ==" connectionString="packet size=4096;data source=wadev-l\webappsdev;persist security info=False;initial catalog=Sequence; MultipleActiveResultSets=true;" commandTimeout="1200" />

      <providers>
        <add type="PNMsoft.Sequence.Data.Sql.SqlAuthenticationDataProvider, PNMsoft.Sequence.Data, Version=8.0.0.0, Culture=neutral, PublicKeyToken=0a1a1b90c1c5dca1"></add>
        <add type="PNMsoft.Sequence.Data.Sql.SqlAuthorizationDataProvider, PNMsoft.Sequence.Data, Version=8.0.0.0, Culture=neutral, PublicKeyToken=0a1a1b90c1c5dca1"></add>
        <add type="PNMsoft.Sequence.Data.WorkflowDefinitionDataProvider, PNMsoft.Sequence.Data, Version=8.0.0.0, Culture=neutral, PublicKeyToken=0a1a1b90c1c5dca1"></add>
        <add type="PNMsoft.Sequence.Data.Sql.SqlWorkflowExecutionDataProvider, PNMsoft.Sequence.Data, Version=8.0.0.0, Culture=neutral, PublicKeyToken=0a1a1b90c1c5dca1"></add>
        <add type="PNMsoft.Sequence.Data.DbSystemDataSourceProvider, PNMsoft.Sequence.Data, Version=8.0.0.0, Culture=neutral, PublicKeyToken=0a1a1b90c1c5dca1"></add>
        <add type="PNMsoft.Sequence.Data.Sql.SqlObsDataProvider, PNMsoft.Sequence.Data, Version=8.0.0.0, Culture=neutral, PublicKeyToken=0a1a1b90c1c5dca1"></add>

      </providers>
    </persistence>

  </sequence.engine>
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="PNMsoft.Sequence" publicKeyToken="0a1a1b90c1c5dca1" culture="neutral" />
        <bindingRedirect oldVersion="7.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="PNMsoft.Sequence.Analytics" publicKeyToken="0a1a1b90c1c5dca1" culture="neutral" />
        <bindingRedirect oldVersion="7.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="PNMsoft.Sequence.SocialFeatures" publicKeyToken="0a1a1b90c1c5dca1" culture="neutral" />
        <bindingRedirect oldVersion="7.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>